body {
    background-image: url(../images/michael-scott.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: cover;
}

.content {
    margin-top: 25vh;
    margin-bottom: 25vh;
    opacity: .8;
}

.buttons-answer {
    margin: 5px;
}